
/* ------ ------ fonts and other misteries ------ ------ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face {
  font-family: SF Movie Poster;
  src: url('SF Movie Poster Bold.ttf') format("truetype");
}

@font-face {
  font-family: SF Movie;
  src: url('SF Movie Poster.ttf') format("truetype");
}

@font-face {
  font-family: coolvetica;
  src: url('coolvetica_rg.ttf') format("truetype");
}
f

/*
orange1: #FFD7C0;
orange2: #FFA67B;
orange3: #FF6446;
gray1: #D3D3D2;
gray2: #B6B7B5;
gray3: #8C8C8B;
*/


/* ------ ------ header ------ ------ */
.header {
	margin-top: -2cm;
}

.titular {
	font-size: 8.5em;
	color: #58595B;
	font-family: 'SF Movie Poster', helvetica;
	font-style: bold;
	float: block;
	/*text-shadow: 2px 4px 0 rgba(0,0,0,0.4);*/
}
.titular:hover {
    color: #A8A9AB;
    text-decoration: none;
}

.logo-mx {
}

.logo-ethos {
}

/* ------ ------ navigation bar ------ ------ */
.selec{
    font-size:2.4em;
    color: #4C4C4B;
	font-family: 'SF Movie Poster', helvetica;
	font-style: bold;
	font-padding: 2px;
}
.selec:link {
    color: #6C6C6B;
    text-decoration: none;
}
.selec:visited {
    color: #6C6C6B;
    text-decoration: none;
}
.selec:hover {
    color: #FF6446;
    text-decoration: none;
}
.selec:active {
    color: #FF6446;;
    text-decoration: none;
}

#colorstrip {
    overflow: hidden;
    position: relative;
    height: 2px;
    width: 85%;
    align: center;
    }

/* ------ ------ chart main section ------ ------ */
#chart {
	width: 100%;
	text-align: center;
	float: center;
	font-family: 'SF Movie Poster', helvetica;
	font-style: bold;
	color: #FFFFFF;
}


/* ----- some properties of circles ------ */
circle {
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

circle:hover {
  fill: #222222;
  opacity: 0.5;
}

circle, .other {
  fill: #1abc9c;
}



/* ------ bubble styles ----- */
.burb1 {
	fill: #D3D3D2; 
	font-size: 1.8em;
}

.burb2 {
	fill: #FFD7C0; 
	font-size: 2.2em;
}

.burb3 { 
	fill: #B6B7B5; 
	font-size: 2.6em;
}

.burb4 { 
	fill: #FFA67B; 
	font-size: 3em;
}

.burb5 {
	fill: #8C8C8B; 
	font-size: 3.4em;
}

.burb6 {
	fill: #FF6446; 
	font-size: 3.8em;
}

.burb0 { 
	fill: #FFF8EF; 
	font-size: 1.4em;
}


/* legend panel */
#infoblock-check{	
	font-size: 1.5em;
	background-color: #FFA67B;
	font-color: #FFFFFF;
	height: 120px;
	width: 55px;
	position: relative;
	text-align: left;
	padding-left: 14px;
	padding-top: 45px;
	right: -120px;
	opacity: 0.70;
	border-radius: 15px;
	}

#infoblock-info{
	font-size: 1.5em;
	background-color: #FF6446;
	color: #FFFFFF;
	height: 120px;
	width: 55px;
	position: relative;
	text-align: left;
	padding-left: 12px;
	padding-top: 45px;
	right: -120px;
	opacity: 0.70;
	border-radius: 15px;    
	}

#infoblock-metod{	
	font-size: 1em;
	background-color: #B6B7B5;
	font-color: #FFFFFF;
	height: 40px;
	width: 40px;
	position: relative;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	right: -135px;
	opacity: 0.60;
	border-radius: 15px;
	}

#navBtn:hover{
   background-color:#FFA67B;
}

#text-check {
    position: absolute;
    width: 160px;
    height: 120px;
    font-family: 'coolvetica', helvetica;
	font-style: bold;
    font-size: 0.7em;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.3cm;
}

#text-info {
    position: relative;
    width: 160px;
    height: 120px;
	/*font-family: 'SF Movie Poster', helvetica;*/
    font-family: 'coolvetica', helvetica;
    font-size: 0.7em;
	color: #FFFFFF;
	text-align: center;
	bottom: -0.5cm;
}
/* ---- ----- ----- ------ ------- --- */





body {
    font-family: 'SF Movie', helvetica;
    /*margin: 1em;*/
    background: #FFF6EA;
    color: #FFF6EA;
    font-color: #FFFFFF;
    font-padding: 2;
}

h1, h2, h3 {
	margin: 0;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 8em;
	line-height: 1.0em;
	font-family: 'SF Movie Poster', helvetica;
	font-style: bold;
	text-shadow: 2px 4px 0 rgba(0,0,0,0.4);
}
h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: normal;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
p, footer {
	/*margin: 1em 0 .5em;*/
	color: silver;
}
footer {
	height: 150px;
	background-color: #FFFFFF;
	font-family: 'coolvetica', helvetica;
	font-size: 0.8em;
	margin-top: -1cm; /*[3em]*/
	vertical-align: center;
}




text .menc1c {
  font-size: 0.5em;
}


/* ------ style of other sections ----- */

.othertext{
	color: #58595B;
    font-size: 2em;
	font-family: 'SF Movie Poster', helvetica;
	}


.gross {
	color: #FFFF00;
	/*background-color:#FFFF00;*/
}

#tooltip {
	background-color: #000000;
	opacity: 0.7;
}






@media only screen and (min-width: 500px) {
	h1 {
		font-size: 3.75em;
		line-height: 1.5em;
	}
	fieldset p > span {
		font-size: 4em;
	}
}




/** -------------qtip -----------------*/
.qtip-mx{
    border-color: #8c8c8b;
    width: 300px;
    background-color: #B6B7B5;;
    border-color: #FFFFFF;
    opacity: 0.9;
    
}
.qtip-mx .qtip-content{
    font-family: 'coolvetica', helvetica;
    font-size: 12px;
    font-color: #000000;
    background-color: #B6B7B5;;
    opacity: 0.9;

}

.qtip{
	padding: 8px;
    opacity: 0.9;
    background-color: #B6B7B5;;
    border-radius: 16px;
}

.name{
	font-family: 'SF Movie Poster', helvetica;
    /*margin: 1em;*/
    color: #FFF6EA;
    font-color: #FFFFFF;
    font-padding: 6;
    font-size:2.2em;
    float:center;
}

.twcontainer{
	font-family: 'coolvetica', helvetica;
    /*margin: 1em;*/
    font-color: #000000;
    font-padding: 2px;
    font-size:13px;
    opacity: 0.9;
}

.twcontainer img{
    border-radius: 10px;
}


.spantitle{
	font-family: 'SF Movie Poster', helvetica;
    color: #4C4C4B;
    font-color: #4C4C4B;
    font-size:3.6em;
    float: left;
    font-padding: 2;
}

.spancount{
	font-family: 'SF Movie Poster', helvetica;
    color: #FF6446;
    font-color: #FF6446;
    font-padding: 2;
    font-size:1.7em;
    float: right;
    font-style: normal;
}

.toptitle{
	font-family: 'SF Movie Poster', helvetica;
    color: #FFFFFF;
    font-color: #FFFFFF;
    /*background-color: #000;*/
    margin-top: 0.2cm;
    display: block;
    height: 0.3cm;
}

.foot1{
	text-align: left;
	left: 0.5cm;
}

.foot2{
	text-align: right;
	right: .5cm;
	font-size: 1.2em;
	bottom:0.2cm;
}

.demo-content > h4 {
    margin-top: 25px;
}

#modal {
    font-style: 'coolvetica', helvetica;
	font-color: #FFF;
}

.modal-demo {
    font-style: 'coolvetica', helvetica;
    color: #FFF;
    background-color: #B6B7B5;
    width: 600px;
    border: #FFF solid 4px;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
    text-align: center;
    display: none;
    opacity: 0.9;
}
.modaltitle {
    padding: 10px 20px 15px 20px;
    line-height: 18px;
    font-size: 18px;
    border-bottom: #CCC solid 1px;
}
.modaltext {
    font-style: 'coolvetica', helvetica;
    font-color: #FFF;
    padding: 0 20px 20px 20px;
}
.modalclose {
    position: absolute;
    top: 5px;
    right: 5px;
}